
@{
    ViewBag.Title = "Guest";
}

<div class="form_holder">
    @using (Html.BeginForm("Guest", "Home", FormMethod.Post))
    {
        @Html.TextArea("com", new { placeholder = "Оставьте свой отзыв.", @class = "textarea", rows ="3", cols="50" }) <br />
        <button type="submit" name="Send">Отправить</button>
    }
</div>

@foreach (var item in ViewBag.List)
{
    <div class="content_item">
        <div class="content_item_title">@item.authorName</div>
        <div class="content_item_date">@item.Date</div>
        <div class="content_item_description">@item.commentContent</div>
    </div>
}

    


